:root {
	--animate-duration: 0.7s !important;
	--animate-delay: 0.8s !important;
}
html {
	scroll-behavior: smooth;
}
body {
	scroll-snap-type: mandatory;
}
body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	/* outline: 1px solid slategrey; */
}

header {
	background-image: linear-gradient(
			rgb(64 64 64 / 0),
			rgba(23, 23, 23, 0.986),
			rgba(31, 41, 55, 0.781)
		),
		url("https://cdn-media-2.freecodecamp.org/w1280/5f9c9bb1740569d1a4ca2d56.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-attachment: fixed; */
	height: 100vh;
}
/* .nav {
	backdrop-filter: blur(1rem);
} */
/* mynav {
	backdrop-filter: blur(1rem);
} */
.hidden {
	visibility: hidden;
}
.show {
	visibility: visible;
}
.hide {
	display: none !important;
}
.block {
	display: block;
}
#text-box-head {
	height: 80%;
}
#hello {
	color: #ff00c8;
	/* color: #490149; */
}
#span-div p {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF_3KjvGCEiXW0pitGfT4tQXxwDEgeOcOVOA&usqp=CAU");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: auto;
	padding: 0.3rem 0.5rem;
	margin: 0.2rem 0rem;
}
#projects {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF_3KjvGCEiXW0pitGfT4tQXxwDEgeOcOVOA&usqp=CAU");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	height: auto;
}

.project-card {
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	/* box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
		rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; */
}
nav {
	display: flex;
	background-color: transparent;
	color: #f2f2f2;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
}

nav ul li {
	list-style: none;
}
nav ul li a:hover {
	color: #ff00c8;
	font-weight: bold;
}
nav ul li a:active {
	/* background-color: #ff00ff; */
	color: #ff00c8;
	font-weight: bold;
}
